.landing-container>h2{
    text-align: center;
}

.landing-information{
    text-align: left;
    color: #be0e0e;
}

.landing-information>p{
    padding-bottom: 20px;
}

.landing-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}