.add-form-container{
    background-color: burlywood;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-left: #000000;
}

.add-form-container>h4{
    margin: 0;
    text-align: center;
}

.new-credentials-form{
    text-align: center;
}

.new-credentials-form>input{
    margin: 5px 0 10px 0;
    padding: 5px;
}

.new-credentials-form>select{
    margin: 5px 0 10px 0;
    padding: 5px;
}

.new-credentials-form>select:hover{
    cursor: pointer;
}

.new-credentials-form>button{
    margin: 5px;
    padding: 7px 40px;
    font-size: 12;
    background-color: #0c9b30;
    color: #000000;
}

.new-credentials-form>button:hover{
    cursor: pointer;

}