.credentials-container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    margin: 20px 5px 0 5px;
    padding: 12px;
}

.credentials-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.credentials-wrapper{
    color: #000000;
}
